/* =Typography */
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.alert {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

audio,
video {
  width: 100%;
  max-width: 100%;
}

/* =Login screen */
.login {
  float: none;
  margin: 100px auto 0;
  width: 600px;
}

.login h3 {
  margin-top: 9px;
  margin-bottom: 29px;
}

.login form input[type="checkbox"] {
  margin-top: 10px;
}

.login form a {
  padding-left: 7px;
  text-decoration: underline;
}

/* =Timeline feed */
.timeline {
  padding-top: 93px;
}

.timeline .spinner-row {
  margin-top: 20px;
}

.timeline article pre {
  border: 0;
  background-color: #fff;
  font-family: inherit;
  white-space: pre-line;
  margin-bottom: 0;
  padding: 0;
}

.timeline article pre p {
  margin-bottom: 0;
}

.timeline article footer {
  margin-top: 1em;
}

.timeline article footer .nav li {
  margin-right: 4px;
}

.timeline article footer .nav li:last-child {
  float: right;
}

.timeline article footer i {
  position: relative;
  top: 4px;
  margin-right: 2px;
}

.timeline .post-meta {
  padding: 0;
  margin: 10px 0;
  list-style-type: none;
}

.timeline .post-meta li {
  font-size: 14px;
  line-height: 1.5;
}

header[role="main"] form[role="search"] input[type="text"] {
  min-width: 250px;
}

.navbar-brand {
  padding-top: 7px;
}

.navbar-brand img {
  height: 50px;
}

.audio-artwork img {
  width: 210px;
}

.modal-body img {
  max-width: 100%;
}

.supported-formats {
  margin-top: 15px;
}

/* =User block */
.user {
  text-align: center;
}

.user h5 {
  margin-top: 7px;
  margin-bottom: 5px;
}

.user p {
  line-height: 1.4;
}

.user__bg {
  overflow: hidden;
  height: 150px;
  margin-top: -15px;
  margin-right: -15px;
  margin-left: -15px;
}

.user__bg img {
  max-width: 100%;
  -webkit-filter: blur(10px);
  -webkit-filter-filter: blur(6px);
  -webkit-filter-z-index: 1;
}

.user__avatar {
  border: 3px solid #fff;
  border-radius: 100%;
  margin-top: -55px;
  position: relative;
  z-index: 2;
}

/* =Single post block */
article img {
  max-width: 100%;
}

/* =Sidebars */
aside[role="sidebar-left"],
aside[role="sidebar-right"] {
  position: fixed;
  width: 278px;
}
