/* =Login screen */
.login
	float: none
	margin: 100px auto 0
	width: 600px

	h3
		margin-top: 9px
		margin-bottom: 29px

	form
		input[type="checkbox"]
			margin-top: 10px

		a
			padding-left: 7px
			text-decoration: underline