/* =Timeline feed */
.timeline
	padding-top: 93px

	.spinner-row
		margin-top: 20px

	article
		img
			// width: 100%

		pre
			border: 0
			background-color: #fff
			font-family: inherit
			white-space: pre-line
			margin-bottom: 0
			padding: 0

			p
				margin-bottom: 0

		footer
			margin-top: 1em

			.nav
				li
					margin-right: 4px

					&:last-child
						float: right

						// .btn
							// color: rgb(229, 28, 35)
			i
				position: relative
				top: 4px
				margin-right: 2px

	.post-meta
		padding: 0
		margin: 10px 0
		list-style-type: none

		li
			font-size: 14px
			line-height: 1.5

// Header
header[role="main"]
	form[role="search"]
		input[type="text"]
			min-width: 250px

.navbar-brand
	padding-top: 7px

	img
		height: 50px

.audio-artwork
	img
		width: 210px

.modal-body
	img
		max-width: 100%

// Supported media formats
.supported-formats
	margin-top: 15px