/* =Typography */
body
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif

.alert
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3)
	box-shadow: 0 1px 4px rgba(0,0,0,0.3)

audio,
video
	width: 100%
	max-width: 100%