/* =User block */
.user
	text-align: center

	h5
		margin-top: 7px
		margin-bottom: 5px

	p
		line-height: 1.4

.user__bg
	overflow: hidden
	height: 150px
	margin:
		top: -15px
		right: -15px
		left: -15px

	img
		max-width: 100%
		-webkit-filter: blur(10px)
    filter: blur(6px)
    z-index: 1

.user__avatar
	border: 3px solid #fff
	border-radius: 100%
	margin-top: -55px
	position: relative
	z-index: 2