<div class="modal-header">
  <button ng-click="cancel()" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">Загрузить аудио материал</h4>
</div>
<div class="modal-body">

  <uib-progressbar ng-show="isPostSaving" class="progress-striped active" max="100" value="100" type="success"></uib-progressbar>

  <uib-progressbar ng-show="isFileUploading" class="progress-striped active" max="100" value="fileUploadPercent" type="success"></uib-progressbar>

  <div ng-show="showErrorMessage" class="alert alert-dismissible alert-success">
    <button ng-click="closeAlert()" type="button" class="close" data-dismiss="alert">&times;</button>
    {{errorMessage}}
  </div>

  <form name="formUploadAudio">
    <div class="form-group">
      <!-- <label for="upload-audio" class="control-label">Выберите аудио файл:</label> -->
      <button name="fileAudio" ng-model="audio.file" ngf-pattern="'.wav,.mp3'" ngf-max-size="15MB" ngf-select="uploadAudio($file)" type="button" class="btn btn-default">Выберите аудио файл...</button>
      <p class="supported-formats">Поддерживаемые аудио форматы: <code>*.mp3, *.wav</code></p>
    </div>

    <div ng-show="showSuccessMessage" class="alert alert-dismissible alert-success">
      <button ng-click="closeAlert()" type="button" class="close" data-dismiss="alert">&times;</button>
      <p>{{successMessage}}</p>
    </div>
    <div class="form-group" style="margin-top: 20px">
      <div ng-messages="formUploadAudio.fileAudio.$error" role="alert">
        <div ng-message="maxSize">
          <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Ошибка!</strong> Размер файла не должен превышать 15 MB.
          </div>
        </div>
      </div>
    </div>

    <!-- <img ng-src="{{audio.artwork.url}}"/> -->
    <p><span>Адрес файла: <code>{{audio.artwork.url}}</code></span></p>

    <div class="form-group">
      <!-- <label for="upload-audio-artwork" class="control-label">Выберите артворк:</label> -->
      <button ng-model="audio.artwork" ngf-pattern="'image/png,image/jpeg'" ngf-max-size="5MB" ngf-select="uploadPhoto($file, 'artwork')" type="button" class="btn btn-default">Выберите артворк...</button>
    </div>
    <div class="form-group">
      <label for="audio-track-name" class="control-label">Название песни:</label>
      <input ng-model="audio.title" type="text" name="" class="form-control" id="audio-track-name">
    </div>
    <div class="form-group">
      <label for="audio-track-author" class="control-label">Испольнитель:</label>
      <input ng-model="audio.artist" type="text" name="" class="form-control" id="audio-track-author">
    </div>
    <div class="form-group">
      <label for="audio-text" class="control-label">Подпись для аудио:</label>
      <textarea ng-model="text" class="form-control" id="audio-text"></textarea>
    </div>
  </form>

</div>
<div class="modal-footer">
  <button ng-click="cancel()" type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
  <button ng-click="publish()" type="button" class="btn btn-primary">Опубликовать</button>
</div>