<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">Ваше видео или аудио сохранено</h4>
</div>
<div class="modal-body">
  Видео или аудио будет появляться на лентах пользователей через некоторое время после обработки.
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$close()">OK</button>
</div>