<div class="modal-header">
  <button ng-click="cancel()" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">Загрузить фотографию</h4>
</div>
<div class="modal-body">
  <uib-progressbar ng-show="isPostSaving" class="progress-striped active" max="100" value="100" type="success"></uib-progressbar>

  <uib-progressbar ng-show="isFileUploading" class="progress-striped active" max="100" value="fileUploadPercent" type="success"></uib-progressbar>

  <div ng-show="showErrorMessage" class="alert alert-dismissible alert-success">
    <button ng-click="closeAlert()" type="button" class="close" data-dismiss="alert">&times;</button>
    {{errorMessage}}
  </div>

  <p><span>Адрес файла: <code>{{photo.url}}</code></span></p>

  <form name="uploadPhotoForm">
    <div class="form-group">
      <button name="file" id="upload-photo" ng-model="photo.file" ngf-pattern="'image/png,image/jpeg'" ngf-max-size="5MB" ngf-select="uploadPhoto($file)" type="button" class="btn btn-default" required>Выберите файл...</button>
      <div class="form-group" style="margin-top: 20px">
        <div ng-messages="uploadPhotoForm.file.$error" role="alert">
          <div ng-message="maxSize">
            <div class="alert alert-dismissible alert-danger">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <strong>Ошибка!</strong> Размер файла не должен превышать 5 MB.
            </div>
          </div>
        </div>
      </div>
      <p class="supported-formats">Поддерживаемые форматы: <code>*.png, *.jpeg</code></p>
    </div>
    <div class="form-group">
      <label for="photo-text" class="control-label">Подпись для фотографии:</label>
      <textarea ng-model="text" class="form-control" id="photo-text" autofocus></textarea>
    </div>
  </form>

</div>
<div class="modal-footer">
  <button ng-click="cancel()" type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
  <button ng-click="publish()" type="button" class="btn btn-primary">Опубликовать</button>
</div>
