<div class="modal-header">
  <button ng-click="cancel()" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">Текстовое сообщение</h4>
</div>
<div class="modal-body">
  <uib-progressbar ng-show="isPostSaving" class="progress-striped active" max="100" value="100" type="success">Пост сохраняется...</uib-progressbar>

  <div ng-show="showErrorMessage" class="alert alert-dismissible alert-warning">
    <button ng-click="closeAlert()" type="button" class="close" data-dismiss="alert">&times;</button>
    {{errorMessage}}
  </div>

  <form>
    <div class="form-group">
      <label for="text-body" class="control-label">Текст:</label>
      <textarea ng-model="text" class="form-control" id="text-body" autofocus></textarea>
    </div>
  </form>

</div>
<div class="modal-footer">
  <button ng-click="cancel()" type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
  <button ng-click="publish()" type="button" class="btn btn-primary">Опубликовать</button>
</div>