<div class="modal-header">
  <button ng-click="cancel()" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">Загрузить видео</h4>
</div>
<div class="modal-body">

  <uib-progressbar ng-show="isPostSaving" class="progress-striped active" max="100" value="100" type="success"></uib-progressbar>

  <uib-progressbar ng-show="isFileUploading" class="progress-striped active" max="100" value="fileUploadPercent" type="success"></uib-progressbar>

  <div ng-show="showErrorMessage" class="alert alert-dismissible alert-warning">
    <button ng-click="closeAlert()" type="button" class="close" data-dismiss="alert">&times;</button>
    <p>{{errorMessage}}</p>
  </div>

  <form name="formUploadVideo">
    <div class="form-group">
      <button name="file" ng-model="video.file" ngf-pattern="'.avi,.mp4,.mpg'" ngf-max-size="150MB" ngf-select="uploadVideo($file)" type="button" class="btn btn-default">Выберите видео...</button><br>
      <p class="supported-formats">Поддерживаемые видео форматы: <code>*.avi, *.mp4, *.mpg</code></p>
    </div>
    <div ng-show="showSuccessMessage" class="alert alert-dismissible alert-success">
      <button ng-click="closeAlert()" type="button" class="close" data-dismiss="alert">&times;</button>
      <p>{{successMessage}}</p>
    </div>
    <div class="form-group" style="margin-top: 20px">
      <div ng-messages="formUploadVideo.file.$error" role="alert">
        <div ng-message="maxSize">
          <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Ошибка!</strong> Размер файла не должен превышать 150 MB.
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="video-text" class="control-label">Подпись для видео:</label>
      <textarea ng-model="text" class="form-control" id="video-text"></textarea>
    </div>
  </form>

</div>
<div class="modal-footer">
  <button ng-click="cancel()" type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
  <button ng-click="publish()" type="button" class="btn btn-primary">Опубликовать</button>
</div>