<header role="main">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <img src="images/logo.png" alt="Logo Showme">
        </a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Главная <span class="sr-only">(current)</span></a></li>
          <!-- <li><a href="#">Профиль</a></li>
          <li><a href="#">Помощ</a></li> -->
        </ul>
        <!-- <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Поиск">
          </div>
          <button type="submit" class="btn btn-default">Искать</button>
        </form> -->
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Создать <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="" ng-click="openModal('text')">Текст</a></li>
              <li><a href="" ng-click="openModal('photo')">Картинка</a></li>
              <li><a href="" ng-click="openModal('audio')">Аудио</a></li>
              <li><a href="" ng-click="openModal('video')">Видео</a></li>
            </ul>
          </li>
          <li><a href="" ng-click="$root.logout()">Выйти</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="container timeline">
  <div class="row">
    <div class="col-lg-3">
      <aside role="sidebar-left">
        <div class="panel panel-default user">
          <div class="panel-body">
            <div class="user__bg">
              <img src="{{$root.user.photo.url}}" width="600" alt="">
            </div>
            <img src="{{$root.user.photo.url}}" width="100" alt="" class="user__avatar">
            <h5>{{$root.user.name}}</h5>
            <p>{{$root.user.about}}</p>
          </div>
        </div><!-- ./user -->

        <div class="panel panel-default">
          <div class="panel-body">
            <ul class="list-unstyled">
              <li><a href="" data-toggle="modal" data-target="#about-project">О проекте</a></li>
              <!-- <li><a href="" data-toggle="modal" data-target="#contacts">Связь</a></li> -->
              <li><a href="" data-toggle="modal" data-target="#terms-of-use">Правила пользования</a></li>
            </ul>
            <p>© 2016 Showme Co.</p>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-body">
            <p>Свяжитесь с нами:<br>
            <i class="glyphicon glyphicon-earphone"></i> <a href="tel:+998998180001">+998 99 818-00-01</a><br>
            <i class="glyphicon glyphicon-envelope"></i> <a href="mailto:info@showme.uz">info@showme.uz</a>
          </div>
        </div>
      </aside><!-- /.sidebar-left -->
    </div>
    <div class="col-lg-6">
      <div ui-view=""></div>
    </div>

    <div class="col-lg-3">
      <aside role="sidebar-right">
<!--         <div class="alert alert-dismissible alert-info">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <a href="#" class="alert-link">Ваш профил не заполнен!</a> Пожалуйста введите ваши данные полностью.
        </div> -->
        </aside><!-- /.sidebar-right -->
    </div>
  </div><!-- /.row -->
</div><!-- ./container -->

<script src="js/scripts.js"></script>

<!-- About Project start -->
<div class="modal fade" id="about-project" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">О проекте</h4>
      </div>
      <div class="modal-body">
        <p>Showme.uz – первое мобильное приложение, которое поможет ознакомиться с каталогом звезд и всей необходимой информацией для связи с ними. Также Вы всегда будете в курсе событий происходящих в мире шоу-бизнеса Узбекистана. Заказать звезду узбекской эстрады стало еще легче и быстрее.</p>
        <p>Благодаря визуально приятному и интуитивно понятному интерфейсу, высокой скорости, работа с мобильным приложением будет только в радость.</p>
        <p>Теперь нет необходимости в компьютере, вся важная информация доступна напрямую с Вашего мобильного телефона. Хотите заказать звезду на свадьбу? Пригласить ведущих на день рождения? Воспользуйтесь уникальным мобильным приложением Showme.uz</p>
      </div>
    </div>
  </div>
</div>
<!-- About Project end -->

<!-- Contacts start -->
<div class="modal fade" id="contacts" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Связь</h4>
      </div>
      <div class="modal-body">
        <p>По вопросам и предложениям позвоните по номеру <a href="tel:+998998180001">+998 99 818-00-01</a> или пишите на <a href="mailto:info@showme.uz">info@showme.uz</a></p>
      </div>
    </div>
  </div>
</div>
<!-- Contacts end -->

<!-- Contacts start -->
<div class="modal fade" id="terms-of-use" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Правила пользования</h4>
      </div>
      <div class="modal-body">
        <p>Любое использование либо копирование материалов или подборки материалов сайта, элементов дизайна и оформления может осуществляться лишь с разрешения правообладателя и только при наличии ссылки на <a href="http://showme.uz">showme.uz</a>.</p>
      </div>
    </div>
  </div>
</div>
<!-- Contacts end -->