<div class="container">
  <div class="row">
    <div class="col-md-6 login">
      <div  class="text-center">
        <img src="images/logo.png" alt="Showme Logo" style="width: 200px;">
        <h3>Добро пожаловать!</h3>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <form class="form-horizontal">
            <fieldset>
              <div class="form-group">
                <label for="login__email" class="col-lg-2 control-label">Почта</label>
                <div class="col-lg-10">
                  <input type="email" class="form-control" id="login__email" placeholder="напр.: mail@example.com" ng-model="email">
                </div>
              </div>
              <div class="form-group">
                <label for="login__password" class="col-lg-2 control-label">Пароль</label>
                <div class="col-lg-10">
                  <input type="password" class="form-control" id="login__password" placeholder="password" ng-model="password">
                  <!-- <div class="checkbox">
                    <label>
                      <input type="checkbox" checked="checked" id="login__remember">Запомнить
                    </label>
                  </div> -->
                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                  <button type="submit" ng-click="login(email, password)" class="btn btn-primary">Войти</button>
                  <!-- <a href="#" data-toggle="modal" data-target="#modalPasswordRemember">Вспомнить пароль</a> -->
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div><!-- /.login -->
  </div><!-- /.row -->
</div><!-- /.container -->

<!-- Create Text Modal start -->
<div class="modal fade" tabindex="-1" role="dialog" id="modalPasswordRemember">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Восстановление пароля</h4>
      </div>
      <div class="modal-body">

        <form>
          <div class="form-group">
            <label for="user-email" class="control-label">Введите Ваш e-mail:</label>
            <input type="email" name="" class="form-control" id="user-email" placeholder="Email">
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Отправить</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Create Text Modal end -->

<script type="text/ng-template" id="error-modal.html">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$close()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="errorModalLabel">{{title}}</h4>
  </div>
  <div class="modal-body" ng-bind-html="description">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$close()">OK</button>
  </div>
</script>


<script>
  $(function() {
    $('#login__email').focus();
  });

  $('#modalPasswordRemember').on('shown.bs.modal', function () {
    $('#user-email').focus();
  });
</script>