<div ng-show="showTimelineMessage" class="alert alert-dismissible alert-warning">
  <button ng-click="closeAlert()" type="button" class="close" data-dismiss="alert">&times;</button>
  {{timelineMessage}}
</div>

<div infinite-scroll="nextPage()" infinite-scroll-distance="1" infinite-scroll-disabled="showSpinner">
	<div class="panel panel-default" ng-repeat="t in timeline">
		<div class="panel-body">
			<article>
				<p class="text-info"><span title="{{t.post.published | amUtc | amFromUnix | amDateFormat:'LLLL'}}" am-time-ago="t.post.published | amUtc | amFromUnix"></span></p>
				<figure ng-if="t.post.type == 'photo'">
					<p><img ng-src="{{t.post.photo.url}}"></p>
				</figure>
				<figure ng-if="t.post.type == 'video'">
					<!-- <video ng-src={{t.post.video.url}} poster="{{t.post.video.cover.url || 'images/no-video-poster.jpg'}}" preload="metadata" controls></video> -->
					<video ng-src={{t.post.video.url}} ng-attr-poster="{{t.post.video.cover.url || 'images/no-video-poster.jpg'}}" preload="metadata" controls></video>
				</figure>
				<figure ng-if="t.post.type == 'audio'">
					<img ng-src="{{t.post.audio.artwork.url || 'images/no-audio-artwork.png'}}"><br>
					<figcaption>
						<ul class="post-meta">
							<li><strong>Название:</strong> {{t.post.audio.title}}</li>
							<li><strong>Исполнитель:</strong> {{t.post.audio.artist}}</li>
						</ul>
						<audio ng-src="{{t.post.audio.url}}" preload="metadata" controls></audio>
					</figcaption>
				</figure>
				<div>
					<pre>
						<p class="lead">{{t.post.text}}</p>
					</pre>
				</div>
				<footer>
					<ul class="nav nav-pills">
						<li>
							<div class="well well-sm"><i class="glyphicon glyphicon-heart"></i> <span class="badge">{{t.post.likes_count}}</span></div>
						</li>
						<li>
							<div class="well well-sm comments"><i class="glyphicon glyphicon-comment"></i> <span class="badge">{{t.post.comments_count}}</span></div>
						</li>
						<li><a href="" class="btn btn-link" ng-click="delete(t.post.id)">Удалить</a></li>
					</ul>
				</footer>
			</article>
		</div>
	</div>

	<div class="row spinner-row">
	  <div class="col-md-1 col-md-offset-5"><span us-spinner="{radius:10, width:2, length: 8}" spinner-on="showSpinner"></span></div>
	</div>
</div>

<!-- Alert Modal start -->
<div class="modal fade" tabindex="-1" role="dialog" id="alert-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Удаление поста</h4>
			</div>
			<div class="modal-body">
				<p class="lead">Вы действительно хотите удалит этот пост?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
				<button type="button" class="btn btn-danger" id="delete-post">Удалить</button>
			</div>
		</div>
	</div>
</div>
<!-- Alert Modal end -->